.fontL {
  color: #018ed4;
  background: transparent;
  border: transparent;
}

.body {
  background-color: rgb(230, 230, 230);
  width: 100%;
}

.font {
 color: #264f9d;
}

.sections {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
}

@media screen and (max-width: 1000px) {
    .sections{
    width: 100%;
    padding: 0px;
    padding-top: 90px;
    padding-bottom: 50px;
    }
  }

/*Header*/
.header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(230, 230, 230);
  
}

  @media screen and (max-width: 1000px) {
    .header {
    display: none;
  }
}

.trust {
  width: 8%;
  height: 5vh;
  margin: 0 30px;
}


/*TitleNav */


/*Cart*/
.CartItem-count {
  padding: 20px;
}


/* Gallery */
.gallery_container1 {
  width: 45%;
  height: 100%;
  padding-bottom: 10px;
}

.gallery_container2 {
  width: 100%;
  height: 150px;
}

 @media screen and (max-width: 1000px) {
  .gallery_container1 {
  width: 100%;
  height: 55%;
}

.gallery_container2 {
  display: none !important;
}
}

.gallery {
  margin: 0, auto;
  display: block;
  justify-content: center;
  border: 2px solid #9bc9e0;
  width: 100%;
  height: 100%;
}

.gallery2 {
  display: flex;
  object-fit: cover;
  height: 20vh;
  width: 98%;
  border: 2px solid #9bc9e0;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}


/*Colours & Sizes */
.lineup {
  padding-left: 50px;
}

/* Accordion */
.desc {
  background: #fdfeff;
  border: none;
  color: black;
  width: 100%;
}

.review {
  background: #9bc9e0;
  border: none;
  color: black;
  width: 100%;
}

.review1 {
  background: #9bc9e0;
  border: none;
  color: black;
  width: 100%;
  display: none;
}

 @media screen and (min-width: 1000px) {
   .review {
     display: none;
   }
   .review1 {
     display: block;
   }
   .review1, .desc {
    width: 50%;
    }
    .accordionholder {
      display: flex;
    }
  }
